header {
    background: url(../img/headerbg.jpg) center/cover;
    min-height: 50vh;
}
.btnextra {
    margin: 20px auto; 
    background-color: #6bc1f1;
    border: none;
    color: white;
}
.headerbtn {
    margin: 20px auto;
    padding: 10px 20px; 
}
#p {
    font: 1.1em 'Roboto';
    line-height: 20px;
    color: #fff;
    text-align: justify;
}
#h2 {
    font-size: 2em 'Roboto';
    color: #fff;
    text-align: center;
}
h3 {
    font: 2em 'Roboto';
    color: #fff;
    margin: 100px 0 0 0;
}
h4 {
    margin: 50px auto;
    font: 1.19em 'Roboto';
    color: #6bc2f1;
}
#h4 {
    font: 1.19em 'Roboto';
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
h5 {
    margin: 10px 0 0 0;
    font: 1.63em 'Roboto';
    color: #fff;
}
#h5 {
    font-size: 1.12em 'Roboto';
    color: #1d1d1d;
    margin: 30px auto;
    text-align: center;
}
#headerp {
    margin: 41px auto 0 auto;
    font: 1.1em 'Roboto';
    line-height: 20px;
    color: #fff;
}
.hekim img {width: 80%;}
.bgcolorsec {background-color: #f1f1f1; padding: 50px 0;}
#clrwht {color: black;}
.headersec2 {width: 80%;}
.headersec3 {width: 80%;}
.bgcolor {background-color: #6bc1f1; width: 100%; display: flex; flex-direction: column; justify-content: center;}
#pp {display: none;}
.secforphone {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.bgfootcolor {background-color: #072035;}
#forphone {width: 100%; margin: 20px auto 0 auto;}
#sec2text {padding-top: 40px; margin: auto;}
.carttext {
    text-align: justify;
    opacity: 0.702;
    font: 1em 'Roboto';
    line-height: 25px;
    color: #1d1d1d;
}
.imagesmargin img {width: 100%;}
.imagesmargin {padding: 2px; }
.images {display: flex; flex-direction: row;}
.section3 {width: 80%;  margin: 80px auto;}
#cardimage {width: 100%; margin: auto;}
.seccardmargin {margin: 20px auto;}
#testh { 
    opacity: 0.902;
    font: 2em 'Roboto';
    color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
}
#testcm {
    width: 80%;
    margin: auto;
    opacity: 0.851;
    font-size: 1em 'Roboto';
    line-height: 30px;
    color: #fff;
    text-align: center;
}
#testn {
    font-size: .9em 'Roboto';
    letter-spacing: 1px;
    padding: 20px 0 0 0;
    color: #fff;
    text-align: center;
}
#testp {
    opacity: 0.702;
    font:300 .8em 'Roboto' ;
    line-height: 22px;
    color: #fff;
    text-align: center;
}
.arrow {cursor: pointer;}
#userimg img {width: 20px;}
#testlast {display: flex; justify-content: center; padding: 40px 0 80px 0;}
#userimg {margin: auto 10px;}
#formh {
    text-align: center;
    padding: 105px 0 40px 0;
    font: 2em 'Roboto';
    letter-spacing: 2px;
    color: #413d4b;
}
.form {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.sbmtbtn {width: 124px; margin: 0 auto 100px auto;}
#input {padding: 15px 18px; margin-top: 20px;}
#inputtxtarea {padding: 15px 18px; margin: 20px 0;}
#foothead {
    padding: 30px 0 0 0;
    font: 1.13em 'Roboto';
    color: #fff;
}
.footsec {text-align: center; padding: 50px 0;}
#footp {
    width: 80%;
    margin: auto;
    opacity: 0.702;
    font-size: .9em 'Roboto';
    line-height: 25px;
    color: #fff;
}
@media only screen and (min-width: 992px) {
    header {height: 100vh;}
    #p {line-height: 30px;}
    h3 {
        font: 4em 'Roboto';
        color: #fff;
        margin: 130px 0 0 0;
    }
    #forphone {display: none;}
    h4 {margin-top: 240px;}
    .headerbtn {
        padding: 17px 45px; 
    }
    #headerp {
        margin: 51px 0 25px 0;
        line-height: 30px;
    }
    .sec3 {padding: 110px 0;}
    .exm { margin: 130px auto;}
    .headersec2 {width: 550px; }
    .headersec3{width: 550px;}
    .section2 {
        display: flex; 
        justify-content: space-around;
    }
    .hekim img {width: initial; }
    .secforphone {
        display: flex;
        flex-direction: row;
    }
    .child {background: url(../img/section3.jpg) center/cover; height: 410px;}
    .child:hover #pp {display: initial;}
    #sec2text {
        padding-top: 120px; 
        max-width: 600px; 
        margin: auto;
    }
    .child a {
        text-decoration: none;
    }
    .child:hover #pp {display: flex;}
    #pp {
        font: 1.6em 'Roboto';
        text-transform: uppercase;
        text-align: center;
        background-color: #6bc1f1; 
        opacity: 0.5; 
        height: 410px;
        display: none;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    #cardimage {
        width: 100%; 
        margin: auto;
    }
    .carttext {line-height: 30px;}
    .seccardmargin {margin: auto;}
    .images {
        display: flex; 
        flex-direction: row;
    }
    .imagesmargin {padding: 2px;}
    #testh{
        font-size: 6.25em; 
        margin: auto;
    }
    #testcm {
        margin: auto; max-width: 790px;
    }
    #formh {
        font-size: 36px
    }
    .form { 
        width: 500px; 
        margin: auto;
    }
    .footsec {
        display: flex; 
        justify-content: space-around;
    }
    #footfirst {max-width: 367px ;}
    #footsecond {width: 240px;}
}
